<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenCore Legacy Patcher</key>
	<string>v3.1.7</string>
	<key>PatcherSupportPkg</key>
	<string>v2.0.0</string>
	<key>Time Patched</key>
	<string>March 12, 2026 @ 18:36:48</string>
	<key>Commit URL</key>
	<string></string>
	<key>Kernel Debug Kit Used</key>
	<string>Not applicable</string>
	<key>Metal Library Used</key>
	<string>Not applicable</string>
	<key>OS Version</key>
	<string>25.3 (25D2128)</string>
	<key>Custom Signature</key>
	<true/>
	<key>Modern Wireless Common</key>
	<dict>
		<key>Overwrite System Volume</key>
		<dict>
			<key>/usr/libexec</key>
			<dict>
				<key>wifip2pd</key>
				<string>13.7.2-25</string>
			</dict>
		</dict>
		<key>Merge System Volume</key>
		<dict>
			<key>/System/Library/PrivateFrameworks</key>
			<dict>
				<key>IO80211.framework</key>
				<string>13.7.2-25</string>
				<key>WiFiPeerToPeer.framework</key>
				<string>13.7.2-25</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
